.table{
    border: solid black 2px;
    background-color: white;
}

body{
    background-color: #d91400;
}

h1{
    color: black;
    background-color: whitesmoke;
    border: solid black 2px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    margin: 10px;
}

.buttons{
    float: right;
    margin-bottom: 20px;
}

.login{
    color: white;
}

.col-form-label{
    color: whitesmoke;
}

